<p>member-list workssss!</p>
<p-button routerLink="detail/create/0">新增</p-button>
<p-table [value]="members">
    <ng-template pTemplate="header">
        <tr>
            <th>姓名</th>
            <th>部門</th>
            <th>電話</th>
            <th>信箱</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member>
        <tr>
            <td>{{member.name}}</td>
            <td>{{member.department}}</td>
            <td>{{member.phone}}</td>
            <td>{{member.mail}}</td>
            <td><p-button routerLink="detail/modify/{{member.id}}">編輯</p-button></td>
        </tr>
    </ng-template>
</p-table>