<div *ngIf="memberForm">
    <div>
        <div [formGroup]="memberForm">
            <br>
            <span class="ui-float-label">
                <input formControlName="name" type="text" size="30" pInputText required>
                <label for="float-input">姓名*</label>
            </span>
            <br>
            <span class="ui-float-label">
                <input formControlName="department" type="text" size="30" pInputText>
                <label for="float-input">部門</label>
            </span>
            <br>
            <span class="ui-float-label">
                <input formControlName="phone" type="text" size="30" pInputText>
                <label for="float-input">電話</label>
            </span>
            <br>
            <span class="ui-float-label">
                <input formControlName="mail" type="text" size="30" pInputText>
                <label for="float-input">信箱</label>
            </span>
            <p-button label="{{buttonValue}}" (click)="confirm()"></p-button>
            <p-button label="返回" (click)="goBack()"></p-button>
        </div>
    </div>
</div>